<p>Please feel confortable to post any information You find interesting.</p>
<p>To be an author of a new post please <%= link_to "sign up", signup_path%>.</p>

<br />

<p id="enter"><%= link_to 'View all posts', posts_path %></p>