<p>Please feel confortable <%= link_to 'to post', new_post_path %> any information You find interesting.</p>

<% unless signed_in? %>
	<p>To be an author of a new post please <%= link_to "sign up", signup_path%>.</p>
<% end %>

<br />

<p id="enter"><%= link_to 'View all posts', posts_path %></p>