<% if @user.errors.any? %>
	<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error")%> prohibited this user from beign saved:</h2>
    <% @user.errors.full_messages.each do |msg| %>
    <ul><li><%= msg %></li></ul>
    <% end %>
  </div>
<% end %>