$link-color: #09c;
$visited-link-color: #069;

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section {

	p#enter {
		text-align: center;
	}
}

/* Header */

header {
	h1 {
		display: inline;
	}
}
/* Links */

a {
	color: $link-color;

	&:visited {
		color: $visited-link-color;
	}
}

/* Navigation */

nav {
	float: right;
	padding: 0 1em;
	background-color: #DDD;

	ul {
		margin: 2px 0px;
		padding: 0;

		li {
		font-size: 18px;
		list-style-type: none;
		display: inline;

			a {
				padding: 0px 5px;
				color : $link-color;
				text-decoration: none;
				font-weight: bold;

				&:visited {
					color: $link-color;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
	
/* Footer */

footer {
	margin-top: 10px;
	text-align: center;

	nav {
		float: none;
	}
}

#error_explanation {
	width: 450px;
	border: 1px solid red;
	padding: 5px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;

	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}

	ul li {
		font-size: 12px;
		list-style-type: square;
	}
}